{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ profile }}</h2>

<textarea id="chat-log" cols="100" rows="20" readonly>
{% for chat_message in chat_messages %}
{{ chat_message.timestamp|date:"DATETIME_FORMAT" }} - {{ chat_message.username }}: {{ chat_message.message }}
{% endfor %}
</textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" name={{user.profile.user}} type="button" value="Send">
{{ room_name|json_script:"room-name" }}


{% endblock %}